    
{% extends 'index.html' %}

{% block 'body' %}
     <div class="row">
            <div class="col-lg-6">
            <img src="{{animal.image_url}}" style="width: 100%" alt="">
        </div>
        <div class="col-lg-6">
            <h3>Model: {{animal.model}}</h3>
            <h3>Make: {{animal.make}}</h3>
            <h3>Make: {{animal.location}}</h3>
            {% if animal.species %}
            <h3>Material: {{animal.species}}</h3>
            {% endif %}
            <h3>Price: </h3>
            <p>Description: {{animal.description}}</p>
            {% if  is_user_furniture %}
            <a href="{% url 'animal-edit' animal %}" class="btn btn-success">Edit</a>
            <a href="{% url 'animal-delete' animal %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
    </div>
    {% if True %}
        <div class="row">
        <div class="col-lg-12">
{#             {% include "reviews_list.html" with reviews=reviews form=form %}#}
        </div>
    </div>
    {% endif %}
{% endblock %}