    
{% extends 'index.html' %}

{% block 'body' %}
     <div class="row">
            <div class="col-lg-6">
            <img src="http://127.0.0.1:8000/media/{{animal.uploaded_image}}" style="width: 100%" alt="">
        </div>
        <div class="col-lg-6">
            <p><strong>User: </strong>{{animal.user}}</p>
            <p><strong>Phone number: </strong>{{animal.phone_number}}</p>
            <p><strong>Location: </strong>{{animal.location}}</p>
            {% if animal.species %}
            <p><strong>Species: </strong>{{animal.species}}</p>
            {% endif %}
            <p><strong>Found or lost: </strong>{{ animal.found_or_lost }}</p>
            <p><strong>Description: </strong>{{animal.description}}</p>
            {% if  is_user_furniture %}
            <a href="{% url 'animal-edit' animal %}" class="btn btn-success">Edit</a>
            <a href="{% url 'animal-delete' animal %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
    </div>
    {% if True %}
        <div class="row">
        <div class="col-lg-12">
{#             {% include "reviews_list.html" with reviews=reviews form=form %}#}
        </div>
    </div>
    {% endif %}
{% endblock %}