.card {
    background-color: white;
    color: black;
    margin: 5% 0%;
}

.btn-primary:hover {
    background-color: royalblue;
    color: white;
    border: 1px solid grey;
}

.btn-primary {
    background-color: cadetblue;
    color: black;
    border: 1px solid grey;
}

.furniture-form {
    border: 1px solid grey;
    padding: 5% 6%;
    margin: 5% 0%;
}